# Node / Nest / Angular
node_modules/
dist/
build/
coverage/
.tmp/
.tmp-*
.nyc_output/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
